{% extends 'base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="card" style="
  padding-left: 100px;">
    <div class="card-body" style="width: 500px;  ">
    {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            {{ form.title }}
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Text</label>
            {{ form.text }}
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
    {% else %}
        <h1>Log in to post...</h1>
    {% endif %}
      </div>
  </div>
    {% if posts %}
        {% for post in posts %}
           <a href={{ post.get_absolute_url }}>{{ post.title }}</a>
           <p>by <strong><a href="{% url 'profile_page' post.author.id %}">{{ post.author }}</a></strong></p>
           {{ post.date }}
           <hr>
        {% endfor %}
    {% else %}
        <h1>No posts yet!</h1>
    {% endif %}
{% endblock content %}