{% extends 'base.html' %}

{% block content%}
    {{ user.username }}
    {% for post in posts %}
         <div class="card" style="width: 500px; margin: 0 auto; margin-bottom: 50px ">
                <div class="card-body">
                    <p>{{ post.title }}</p>
                    <p>{{ post.text }}</p>
                    <p>{{ post.author }}</p>
                    <p>{{ post.date }}</p>
                    <p>{{ post.likes }}</p>
                </div>
          </div>
    {% endfor %}
{% endblock content %}